.transaction__list{
    border: 1px solid var(--color-border-card-detail);
    box-shadow: 0 4px 12px var(--color-shadow);
    padding: 18px 24px;
    border-radius: 8px;
    background-color: var(--color-bg-card);
}

.transaction__list-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.transaction__list-header-title{
    font-size: 18px;
    font-weight: 600;
    color: var(--color-text-primary);
}

.transaction__list-header-link{
    color: var(--color-btn-primary);
}

