.sidebar__category-item{
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
}

.sidebar__category-item--right{
    display: flex;
    align-items: center;
    gap: 12px;
}

.sidebar__category-item--logo{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--color-sidebar-icon-bg);
    color: var(--color-sidebar-text);
}

.sidebar__category-item--title{
    font-size: 16px;
    color: var(--color-sidebar-text);
}

.sidebar__category-item--count{
    font-size: 12px;
    color: var(--color-text-secondary);
}



