
.sidebar__category{
    margin-top: 32px;
    padding: 14px;
    border: 1px solid  var(--color-border-card);
    border-radius: 8px;
}

.sidebar__category-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
}

.sidebar__category-header--title{
    font-size: 16px;
    font-weight: 600;
    color: var(--color-sidebar-text);
}

.sidebar__category-header--link{
    color: var(--color-btn-primary);
}

.sidebar__category-items{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.sidebar__category-item-li{
    width: 100%;
    cursor: pointer;
    padding: 2px 4px;
    border-radius: 8px;
    white-space: nowrap;
    transition: 0.3s;
    border-bottom: 1px solid var(--color-border-card);
    margin-bottom: 4px;
}

.sidebar__category-item-li:hover{
    background-color: var(--color-sidebar-hover-bg);
    transform: translateY(-2px);
}
