.sidebar__item {
  display: flex;
  align-items: center;
  gap: 18px;
  color: inherit;
  padding: 8px 12px;
  transition: 0.3s;
  cursor: pointer;
}

.sidebar__item-logo {
  font-size: 18px;
}

.sidebar__item-title {
  font-size: 21px;
  font-weight: 500;
}
